<!DOCTYPE html>
<html>

  <head>
    <%- include("../partials/headers") %>
    <link rel="stylesheet" href="/css/sunTime.css">
    
    <!--ariel ws-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();
      function setWs() {
        socket.on('newdata', function (msg) {
          var element = document.getElementById(msg.districtId);
          element.innerText = msg.value;
        })
      }
    </script>
    <!--ariel ws -->
  </head>

  <body class="" onload="setWs()">
    <div class="wrapper ">
      <%- include("../partials/sidebar") %>
        <div class="main-panel">
            <div class="content">
              <div class="container-fluid">
                <div class="row">
                  <%- include("../partials/sunTime"), { sunData: sunData } %>
                </div>
                <div class="row">
                  <%- include("../partials/graphA"), {dataFromES} %>
                  <%- include("../partials/graphB"), {filteredData} %>
                  <%- include("../partials/graphC"), {extractedSecondData} %>
                  <%- include("../partials/sunphisical"), {extractedFirstData} %>
                  <%- include("../partials/lastEvent"), {last_event} %>
                </div>
                <img src="<%= images.sun %>" />
                <img src="<%= images.sky %>" />
              </div>
            </div>
        </div>
    </div>
  </body>
</html>