<!DOCTYPE html>
<html>

  <head>
    <%- include("../partials/headers") %>
    <link rel="stylesheet" href="/css/sunTime.css">
    <link rel="stylesheet" href="/css/graph.css">
    
    <!--ariel ws-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();
      function setWs() {
        socket.on('newdata', function (msg) {
          var element = document.getElementById(msg.districtId);
          element.innerText = msg.value;
        })
      }
    </script>
    <!--ariel ws -->
  </head>

  <body class="" onload="setWs()">
    <div class="wrapper ">
      <%- include("../partials/sidebar") %>
        <div class="main-panel">
            <!-- <div class="content"> -->
              <div class="container-fluid">
                <br/><br/>
                <h1><b>The Sky Live</b></h1>
                <div class="row">
                  <%- include("../partials/sunTime"), { sunData: sunData } %>
                </div>
                <div class="graph-row">
                  <div class="graph">
                    <h1>Graph of data from ES last week</h1>
                    <div class="graph-content">
                      <%- include("../partials/graphA"), {dataFromES} %>
                    </div>
                  </div>

                  <div class="graph">
                    <h1>Graph of data from nasa of the last month</h1>
                    <div class="graph-content">
                      <%- include("../partials/graphB"), {filteredData} %>
                    </div>
                  </div>
                </div>
                
                <div class="graph-row">
                  <div class="graph">
                    <h1>Graph of data from Sky Live</h1> 
                    <h1>The Sun 15 Days Ephemeris</h1>
                    <div class="graph-content">
                      <%- include("../partials/graphC"), {extractedSecondData} %>
                    </div>
                  </div>

                  <div class="graph">
                    <h1>Table Of Data From Sky Live</h1>
                    <div class="graph-content">
                      <%- include("../partials/sunphisical"), {extractedFirstData} %>
                    </div>
                  </div>

                </div>

                <div>
                  
                  <%- include("../partials/lastEvent"), {last_event} %>
                </div>
                  
                <div class="graph-row">
                  <div>
                    <h2><b>Today Sunspots Activity</b></h2>
                    <img src="<%= images.sun %>" />
                  </div>
                  <div>
                    <h2><b>The Sun Position and Finder Charts</b></h2>
                    <img src="<%= images.sky %>" />
                  </div>
                </div>
                <br/><br/><br/><br/>


              </div>
            <!-- </div> -->
        </div>
    </div>
  </body>
</html>